/* ======================================= *\
    1. ESTILOS GERAIS (Base e Tipografia)
\* ======================================= */

body {
    background-color: rgba(24, 36, 44, 1);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: #fff;
}

img {
    border-radius: 50%; /* deixa a imagem redonda */
    border: 5px solid #F53B49;
    width: 20%;
    margin-top: 100px;
}

img[alt="foto-dev"] {
    height: 300px;
    width: 300px;
}

/* ================================================================= *\
    2. SEÇÂO 1: FOTO DO PRORPIETÁRIO, ÁREA DE ATUAÇÃO E BREVE TEXTO
\* ================================================================= */

/* -------------------------------------- *\
    2.1 -> Título da seção e subtítulo
\* -------------------------------------- */

.firstsection {
    text-align: center;
    margin-bottom: 100px;
}

.titulo1 {
    font-weight: 800;
    font-size: 85px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0px;
}

.subtitulo1 {
    font-size: 25px;
}

/* --------------------------------------- *\
    2.2 -> Botão (Fale Comigo) e animação
\* --------------------------------------- */

.botao1 {
    background-color: #F53B49;
    border-radius: 50px;
    padding: 15px 30px; /* define o espaçamento interno */
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer; /* transforma o cursor em mãozinha */
    border: none;
    transition: background-color 0.3s; /* define a mudança de cor(animação) com um leve tempo/delay */
}

.botao1:hover {
    background-color: #bd1321;
}

/* ============================================================================================== *\
    3. SEÇÃO 2: APRESENTAÇÃO DO PROPRIETÁRIO E BOTÕES (INSTAGRAM, LINKEDIN, e "Entre em Contato")
\* ============================================================================================== */

.secondsection {
    background-color: rgba(30, 30, 30, 1);
    padding: 100px 80px;
    display: flex; /* Ativa o Flexbox */
    align-items: center; /* Alinha verticalmente o texto e a imagem */
    justify-content: space-between; /* Coloca um item em cada ponta */
    gap: 40px; /* Adiciona um espaço entre as colunas */
}

.titulo2 {
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 70px;        
}

.subtitulo2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 60px;
    font-weight: 800;
}

.texto1 {
    margin-top: 0px;
    font-size: 25px;

}

.coluna-texto {
    flex: 2; /* deixa a coluna de texto no espaço dela */
    max-width: 60%; 
}

.coluna-imagem {
    flex: 1; 
    max-width: 40%; 
    display: flex; 
    justify-content: center; /* centraliza a imagem */
    align-items: center;
}

.coluna-imagem img {
    width: 100%;
    height: 100%;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%; 
    border: 5px solid #F53B49; 
}

.botoes-container {
    margin-top: 30px;
    display: flex; /* alinha os botões */
    align-items: center;
    gap: 15px;
}

/* -------------------------------------- *\
    3.1 -> Botões
\* -------------------------------------- */

.botao2 {
    background-color: #F53B49;
    border-radius: 50px;
    padding: 15px 30px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer; /* transforma o cursor em mãozinha */
    border: none; /* retira a borda padrão do botão */
}

.botao2:hover {
    background-color: #bd1321;
}

.instagram {
    background-color: #F53B49;
    background-image: url("../Icones/instagram.svg");
    background-repeat: no-repeat; /* faz com que a imagem só aparece uma vez */
    background-position: 51% 50%; /* define a posição da imagem no botão (usado pra centralizar) */
    background-size: 70%;
    color: white; 
    border: none; 
    border-radius: 50%; 
    margin-left: 5px;
    margin-right: 5px;
    width: 50px; 
    height: 50px; 
    font-size: 24px;
    cursor: pointer;
}

.instagram:hover {
    background-color: #bd1321;
}

.linkedin {
    background-color: #F53B49;
    background-image: url("../Icones/linkedin.svg");
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 70%;
    color: white; 
    border: none; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    font-size: 24px;
    cursor: pointer;
}

.linkedin:hover {
    background-color: #bd1321;
}

/* ============================================== *\
    4. SEÇÃO 3: ÚLTIMOS PROJETOS DO PROPRIETÁRIO
\* ============================================== */

.thirdsection {
    background:#18242c;
    text-align: center;
    margin-top: 100px;
}

.titulo3 {
    margin-top: 0px;
    font-size: 90px;
    font-weight: 600;
}

/* ----------------------------------------- *\
    4.1 -> Container das imagens/botões do projeto
\* ----------------------------------------- */

.linha-imagens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.projeto-item {
    align-items: center;
    margin: 0;
    width: 350px;
}

.projeto-item img {
    margin-top: -30px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 0px;
}

/* -------------------------------------- *\
    4.2 -> Botões de cada projeto
\* -------------------------------------- */

.projeto-item button {
    margin-left: 2.5%;
    color: white;
    background-color: #F53B49;
    border-radius: 999px;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    font-size: 1.05em;
    padding: 5px;
    padding-left: 21%;
    padding-right: 21%;
    cursor: pointer;
    margin-bottom: 80px;
}

.projeto-item button:hover {
    background-color: #bd1321;
}

/* ======================================= *\
    5. SEÇÂO 4: RODAPÉ DO PROPRIETÁRIO
\* ======================================= */

.footer {
    color: white;
}

.footer-principal {
    background-color: rgba(30, 30, 30, 1);
    display: flex;
    padding: 50px 10%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

/* -------------------------------------- *\
    5.1 -> Colunas do Rodapé
\* -------------------------------------- */

.coluna-contatos, .coluna-redes {
    flex-basis: 45%;
}

.coluna-redes {
    text-align: center;
}

.coluna-contatos h3, .coluna-redes h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.coluna-contatos {
    margin: 10px 0;
    color: #ccc;
}

/* -------------------------------------- *\
    5.2 -> Botões do Rodapé                     --->>> *Ponto a discutir: Os botões do Instagram e Linkedin do rodapé estão sendo puxados os mesmos da seção 2, mudamos isso ou não?
\* -------------------------------------- */

.icones {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    background-color: #F53B49;
    background-image: url("../Icones/github.svg");
    background-repeat: no-repeat;
    background-position: 51.24% 55%;
    background-size: 80%;
    color: white; 
    border: none; 
    border-radius: 50%; 
    width: 50px; 
    height: 50px; 
    font-size: 24px;
    cursor: pointer;
    margin: 5px;
}

.github:hover {
    background-color: #bd1321;
}

/* --- Finalização do Rodapé */
.footer-abaixo {
    background-color: #F53B49;
    color: white;
    text-align: center;
    padding: 0.5px;
    font-weight: 600;
    font-size: 15px;
}