    body {
        background-color: #121F28;
        font-family: 'Poppins', sans-serif;
        width: 100%;
        margin: 0;
        color: #fff;
    }

    /* Primeira Seção */
    .firstsection {
        background-color: #182D3B;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 100px;
        padding: 10px 0;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }
    .firstsection h1 {
        font-size: 90px;
        font-weight: 800;
        margin-bottom: 0;
    }
    .firstsection span {
        color: #F53B49;
    }
    .firstsection p {
        display: flex;
        width: 60%;
        font-size: 20px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 120px;
    }
    /* Fim Primeira Seção*/

    /* Segunda Seção */
    .secondsection p {
        text-align: center;
        font-size: 31px;
        font-weight: 800;
    }
    .bloco1 {
        display: flex;
        text-align: center;
        width: 80px;
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;
        gap: 0px;
        margin-bottom: 120px;
    }
    .bloco1 button {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #3DAA33;
        color: #fff;
        border: none;
        margin-top: 15px;
        font-size: 22px;
        font-weight: bold;
        padding: 5px;
        width: 50%;
        height: 10%;
    }
    .bloco1 button:hover {
        background-color: #266820;
        cursor: pointer;
    }
    .bloco1 figure {
        margin: 5px;
    }
    .bloco1 img {
        width: 20em;
    }
    .secondsection h1 {
        text-align: center;
        font-weight: 800;
        font-size: 80px;
    }
    .container-depoimentos {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* 3 colunas iguais */
        gap: 5px 0; /* Espaço entre os cards */
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 120px;
    }
    /* Agora, você estiliza o card em si */
    .card-depoimento {
        background-color: #182D3B; /* Um fundo escuro, como na imagem */
        color: #fff; /* Texto claro */
        padding: 15px;
        border-radius: 8px;
        max-width: 100%;
        max-height: 100%;
        width: 90%;
        height: 84%;
        margin: 5px;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }
    .card-depoimento header {
        display: flex; /* Para alinhar a imagem e o texto lado a lado */
        align-items: center;
        margin-bottom: 15px;
    }
    .card-depoimento header img {
        width: 50px;
        height: 50px;
        border-radius: 50%; /* Deixa o avatar redondo */
        margin-right: 10px;
    }
    .card-depoimento .estrelas {
        color: #fdd835; /* Cor amarela para as estrelas */
    }
    .card-depoimento .data {
        color: #D3D3D3;
    }
    .card-depoimento h3 {
        font-size: 13px;
        margin-top: 10px;
    }
    .card-depoimento blockquote p {
        font-size: 10px;
        color: #fff; /* Um cinza claro para o texto principal */
        text-align: left;
    }
    .card-depoimento:hover {
        background-color: #1c374a;
        transform: scale(1.05);
    }

    /* Fim Segunda Seção */

    /* Terceira Seção */
    .thirdprincipal {
        background-color: #182D3B;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 80px 10%;
        padding-right: 10px;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
    }
    .thirdsection h1 {
        font-size: 60px;
        font-weight: 800;
        margin-bottom: 2px;
    }
    .colunatexto, .colunainput {
        flex-basis: 45%;
    }
    .colunainput {
        color: #fff;
        padding: 25px;
        max-width: 500px;
        margin: 20px auto;
    }
    .colunainput label {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 5px;
        display: inline-block;
    }
    .colunainput input {
        width: 100%;
        padding: 12px;
        margin-bottom: 15px;
        background-color: #d9d9d9;
        color: #182D3B;
        border: none;
        border-radius: 5px;
        box-sizing: border-box; 
    }
    .colunainput input[id="Motivo"] {
        padding-bottom: 150px;
    }
    .colunainput button {
        display: block;
        margin: 20px auto 0 auto;
        border-radius: 10px;
        background-color: #3DAA33;
        color: #fff;
        border: none;
        font-size: 20px;
        font-weight: bold;
        padding: 12px 35px; 
        width: auto;
        height: auto;
    }
    .colunainput button:hover {
        background-color: #266820;
        cursor: pointer;
    }
    /* Fim da Terceira Seção */

    /* Rodapé */
    footer {
    background-color: rgba(4, 20, 32, 1);
    padding: 60px 40px;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px; 
        margin: 0 auto;
    }

    .footer-coluna h3 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    .footer-coluna p {
        font-size: 14px;
        color: #D3D3D3;
        margin: 8px 0;
    }