/* ======================================= *\
    1. ESTILOS GERAIS (Base e Tipografia)
\* ======================================= */

body {
    background-color: #121F28;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0;
    color: #fff;
}

/* =========================================================== *\
    2. SEÇÃO 1: PÁGINA DE BOAS-VINDAS E BREVE TEXTO SOBRE NÓS
\* =========================================================== */

/* -------------------------------------- *\
    2.1 -> Estilos da Seção (Background, Bordas, Textos)
\* -------------------------------------- */

.firstsection {
    background-color: #182D3B;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 100px;
    padding: 10px 0;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.firstsection h1 {
    font-size: 90px;
    font-weight: 800;
    margin-bottom: 0;
}

.firstsection span {
    color: #F53B49;
}

.firstsection p {
    display: flex;
    width: 60%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 120px;
}

/* ============================================= *\
    3. SEÇÃO 2: OPÇÕES DE MODELOS E DEPOIMENTOS
\* ============================================= */

/* -------------------------------------- *\
    3.1 -> Parte dos Modelos (Textos, Layout dos Blocos, Botões)
\* -------------------------------------- */

.secondsection p {
    text-align: center;
    font-size: 31px;
    font-weight: 800;
}

.bloco1 {
    display: flex;
    text-align: center;
    width: 80px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    gap: 0px;
    margin-bottom: 120px;
}

.bloco1 button {
    border-radius: 10px;
    background-color: #3DAA33;
    color: #fff;
    border: none;
    margin-top: 15px;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    height: 10%;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animações de tempo/delay para background e transform */
}

.bloco1 button:hover {
    background-color: #266820;
    transform: scale(1.05); /* Aumenta levemente o tamanho dos botões ao passar o cursor */
    cursor: pointer;
}

.bloco1 figure {
    margin: 5px; /* Usado para espaçar as imagens dos modelos */
}

.bloco1 img {
    width: 20em;
}

/* -------------------------------------- *\
    3.2 -> Parte dos Depoimentos (Textos, Layout do Container e Cards)
\* -------------------------------------- */

.secondsection h1 {
    text-align: center;
    font-weight: 800;
    font-size: 80px;
}

.container-depoimentos {
    display: grid; /* Usado display grid para facilitar a organização em colunas */
    grid-template-columns: repeat(3, 1fr); /* Define só 3 cards por linha */
    gap: 6px 1px; /* Espaçamento entre cada card vertical x lateral*/
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 120px;
}

/* Nota: a class card-depoimento é criada no arquivo dados-depoimentos.js */
.card-depoimento {
    background-color: #182D3B;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    width: 90%;
    height: 84%;
    margin: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-depoimento header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-depoimento header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.card-depoimento .estrelas {
    color: #fdd835;
}

.card-depoimento .data {
    color: #D3D3D3;
}

.card-depoimento h3 {
    font-size: 13px;
    margin-top: 10px;
}

/* O blockquote do html faz o texto ter uma formatação diferente, algumas delas são reformuladas no CSS */
.card-depoimento blockquote p {
    font-size: 10px;
    color: #fff;
    text-align: left;
}

/* Cada card aumenta e fica mais claro quando passa o cursor */
.card-depoimento:hover {
    background-color: #1c374a;
    transform: scale(1.05);
}

/* ====================================================================== *\
    4. SEÇÃO 3: SEÇÃO COM FORMULÁRIO PARA FORNECER AJUDA E TIRAR DÚVIDAS
\* ====================================================================== */

/* ----------------------------------------------- *\
    4.1 -> Estilos de Texto e Background da Seção
\* ----------------------------------------------- */

.thirdprincipal {
    background-color: #182D3B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 10%;
    padding-right: 10px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

.thirdsection h1 {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 2px;
}

/* ----------------------------------------- *\
    4.2 -> Layout Formatado do Display Flex
\* ----------------------------------------- */

.colunatexto, .colunainput {
    flex-basis: 45%;
}

.colunainput {
    color: #fff;
    padding: 25px;
    max-width: 500px;
    margin: 20px auto;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Esse tranform é da parte de javascript */
}

.colunainput textarea {
    font-family: 'Poppins', sans-serif; /* Re-estilizando a fonte pois <textarea> tem uma fonte própria */
}

.colunainput input, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #d9d9d9;
    color: #182D3B;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* Trabalha junto com width e padding */
}

.colunainput input[name="acao"] {
    display: block;
    margin: 20px auto 0 auto;
    border-radius: 10px;
    background-color: #3DAA33;
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 35px; 
    width: auto;
    height: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.colunainput input[name="acao"]:hover {
    background-color: #266820;
    transform: scale(1.05);
    cursor: pointer;
}

/* Isso esconde a mensagem de Obrigado ao enviar a dúvida */
.escondido {
    display: none;
    opacity: 0;
}

/* Não foi usada class pois o javascript mexe na class do form e mensagem para esconder uma e aparecer outra */
#form-contato, #mensagem-obrigado {
    transition: opacity 0.5s ease;
}

#mensagem-obrigado {
    color: #D3D3D3;
    text-align: left;
    font-size: 20px;
    margin-right: 15%;
    padding: 40px;
    background-color: #182D3B;
    
}

#mensagem-obrigado h2 {
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 15px;
}

/* ======================================= *\
    5. SEÇÃO 4: RODAPÉ
\* ======================================= */

footer {
    background-color: rgba(4, 20, 32, 1);
    padding: 60px 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px; 
    margin: 0 auto;
}

.footer-coluna h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}

.footer-coluna p {
    font-size: 14px;
    color: #D3D3D3;
    margin: 8px 0;
}